body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
                 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
                 sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.muiTable
th, td {
    border: 1px solid rgba(224, 224, 224, 1);
}

.draggable {
    cursor: grab;
    z-index: 2 !important;
    position: absolute;
    border: 2px solid #999;
    border-radius: 5px;
}

.syntaxTab {
    font-size: 13px;
}

/* Ace related */

.editorBox {
    border: 1px solid #999;
    border-radius: 5px;
}

.editor {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 6px;
    width: 97.6%;
    height: 100%;
    position: relative;
    outline: none;
}

.ace_scroller.ace_scroll-left:after {
    box-shadow: none !important;
}

.ace_placeholder {
    font-size: 18px;
}
