*#*#
*.bc*
*~
vis/node_modules/
_build/
test/tmp/*.csv
test/tmp/*.log
test/tmp/*.mdl
test/tmp/*.mtl
test/tmp/*.mfotl
test/tmp/*.mlog
test/tmp/*.r2u2
test/tmp/gen_log
test/tmp/gen_fmla
test/tmp/gen_fmla_full
*.exe
*.aux
*.txt
*.DS_Store
*.~undo-tree~
*.ocaml
examples/all/nokia/all.log
